<div class="update-time">
  <h3>Last Update</h3>
  {{#if (is-pending station.timeSinceLastUpdate)}}
  <h2>Loading&hellip;</h2>
  {{else if displayDateOffset}}
  <h2 {{action 'switchDate'}}>{{await station.timeSinceLastUpdate}}</h2>
  {{else if (is-fulfilled station.timeOfLastUpdate)}}
  <h2 {{action 'switchDate'}}>{{format-date station.timeOfLastUpdate}}</h2>
  {{/if}}
</div>