<div id="container">
  {{#leaflet-map id="map-view" lat=lat lng=lng zoom=zoom as |layers|}}
    {{layers.tile url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" attribution=attribution}}

    {{#each model as |thing|}}
      {{#if thing.lastLocation.location}}
      {{#layers.geoJSON geoJSON=thing.lastLocation.location onClick=(action "selectStation" thing) as |marker|}}
        {{#marker.popup}}
          {{thing.name}}
        {{/marker.popup}}
      {{/layers.geoJSON}}
      {{/if}}

    {{/each}}

  {{/leaflet-map}}

  <div id="chart-view">
    {{#unless activeStation}}
    <div class="waiting">
      <h2>Select a station for weather chart</h2>
    </div>
    {{else}}
    {{highchart-diagram id="chart" datastream=activeDatastream}}
    {{/unless}}
  </div>

  <div id="meta-view">
    {{#unless activeStation}}
    <div class="waiting">
      <h2>Select a station for metadata</h2>
    </div>
    {{else}}
    <div class="metadata">
      <h2>{{activeStation.name}}</h2>
      <p>{{activeStation.description}}</p>
      <h3><a href="{{forecastLinkForStation}}">2 Day Forecast</a></h3>
    </div>
    {{/unless}}
  </div>

  <div id="live-view">
    {{#unless activeStation}}
    <div class="waiting">
      <h2>Select a station for weather information</h2>
    </div>

    {{else}}

    <div class="update-time">
      <h3>Last Update:<br>{{activeStation.lastUpdate.phenomenonTime}}</h3>
    </div>

    {{live-panel name="air-temperature" datastream=activeStation.airTemperature activeDatastream=activeDatastream}}

    {{live-panel-wind name="wind" speed=activeStation.windSpeed direction=activeStation.windDirection activeDatastream=activeDatastream}}

    {{live-panel name="air-pressure" datastream=activeStation.airPressure activeDatastream=activeDatastream}}

    {{live-panel name="visibility" datastream=activeStation.visibility activeDatastream=activeDatastream}}

    {{live-panel name="Relative Humidity" datastream=activeStation.relativeHumidity activeDatastream=activeDatastream}}
    {{/unless}}
  </div>
</div>
