<div id="container">
  {{#leaflet-map id="map-view" lat=lat lng=lng zoom=zoom as |layers|}}
    {{layers.tile url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

    {{#each Things as |thing|}}

      {{#layers.geoJSON geoJSON=thing.Location.location onClick=(action "selectStation" thing) as |marker|}}
        {{#marker.popup}}
          {{thing.name}}
        {{/marker.popup}}
      {{/layers.geoJSON}}

    {{/each}}

  {{/leaflet-map}}

  <div id="chart-view">
    {{#unless activeStation}}
    <div class="waiting">
      <h2>Select a station for weather chart</h2>
    </div>
    {{else}}
    <div id="chart">
      <h2>Preparing chart&hellip;</h2>
    </div>
    {{/unless}}
  </div>

  <div id="meta-view">
    {{#unless activeStation}}
    <div class="waiting">
      <h2>Select a station for metadata</h2>
    </div>
    {{else}}
    <div class="metadata">
      <h2>{{activeStation.name}}</h2>
      <p>{{activeStation.description}}</p>
      <h3><a href="{{forecastLinkForStation}}">2 Day Forecast</a></h3>
    </div>
    {{/unless}}
  </div>

  <div id="live-view">
    <div class="waiting">
      <h2>Select a station for weather information</h2>
    </div>

    <div class="update-time">
      <h3>Last Update:<br>15 May 2018 15:14:00 MDT</h3>
    </div>

    <div class="panel panel-temp">
      <h2>18.3 &deg;C</h2>
    </div>

    <div class="panel panel-wind">
      <h2>8 Kts NNW</h2>
    </div>

    <div class="panel panel-pressure">
      <h2>101.33 kPa</h2>
    </div>

    <div class="panel panel-visibility">
      <h2>64 km</h2>
    </div>

    <div class="panel panel-humidity">
      <h2>44 %</h2>
    </div>

    <div class="extra">
      <h3>More Graphs</h3>
    </div>
  </div>
</div>
