<div id="container">
  {{#openlayers-map id="map-view"
                    lat=lat
                    lon=lon
                    zoom=zoom
                    projection="EPSG:3573"
  as |map|}}
    {{#map.vector-layer as |layer|}}
      {{#each model as |thing|}}
        {{#if thing.lastLocation.location}}
          {{layer.feature geoJSON=thing.lastLocation.location}}
        {{/if}}
      {{/each}}
    {{/map.vector-layer}}

    {{map.tile-layer 
        projection="EPSG:3573"
        url="https://tiles.arcticconnect.ca/awm/{z}/{x}/{y}.png"
        attribution='Map © <a href="http://arcticconnect.ca/">ArcticConnect</a>. Data © <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }}
  {{/openlayers-map}}

  <div id="chart-view">
    {{#unless activeStation}}
    <div class="waiting">
      <h2>Select a station for weather chart</h2>
    </div>
    {{else}}
    {{highchart-diagram id="chart" datastream=activeDatastream}}
    {{/unless}}
  </div>

  <div id="meta-view">
    {{#unless activeStation}}
    <div class="waiting">
      <h2>Select a station for metadata</h2>
    </div>
    {{else}}
    <div class="metadata">
      <h2>{{activeStation.name}}</h2>
      <p>{{activeStation.description}}</p>
      <h3><a href="{{forecastLinkForStation}}">2 Day Forecast</a></h3>
    </div>
    {{/unless}}
  </div>

  <div id="live-view">
    {{#unless activeStation}}
    <div class="waiting">
      <h2>Select a station for weather information</h2>
    </div>

    {{else}}

    {{last-update-panel station=activeStation}}

    {{live-panel name="air-temperature" datastream=activeStation.airTemperature activeDatastream=activeDatastream}}

    {{live-panel-wind name="wind" speed=activeStation.windSpeed direction=activeStation.windDirection activeDatastream=activeDatastream}}

    {{live-panel name="air-pressure" datastream=activeStation.airPressure activeDatastream=activeDatastream}}

    {{live-panel name="visibility" datastream=activeStation.visibility activeDatastream=activeDatastream}}

    {{live-panel name="Relative Humidity" datastream=activeStation.relativeHumidity activeDatastream=activeDatastream}}
    {{/unless}}
  </div>
</div>
